.calculatorPage {
  flex-direction: column;
  width: 85%;
  padding: 15px;
}

.calculator {
  border: 8px solid gray;
  border-radius: 8px;
}

.result {
  background-color: grey;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

span {
  font-size: 35px;
  color: #ffff;
}

@media (min-width: 768px) {
  .calculatorPage {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
  }

  .calculatorPage h3 {
    font-size: 30px;
  }
}
